body {
    background-color: white;

}

button {
    height: 25px;
    border: none;
    cursor: pointer;
    border-radius: 24px;
    background-color: #f28d15;
}

.buttons {
    display: inline;
}

#domaintCross {
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
    background-color: white;
}