/* The switch - the box around the slider */
body{
  overflow: hidden;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  width: 300px;
  height: 350px;
}

hr {
  margin: 0;
  padding: 0;
}

.virustotalDiv {
  font-family: 'Roboto', sans-serif;
}

.fillBoxGreen {
  width: 300px;
  height: 350px;
  position: relative;
  overflow: hidden;
}

.fillBoxGreen:before {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background: #1a8d54;
  left: 40%;
  transform:translateX(-50%);
  border-radius: 40%;
  animation: fillGreen 3s ease-in-out ;
  z-index: -1;
  animation-fill-mode: forwards;
}
@keyframes fillGreen {
  from {
    top: 350px;
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    top: -50px;
    transform: translateX(-50%) rotate(360deg);
  }
}

.fillBoxOrange {
  width: 300px;
  height: 350px;
  position: relative;
  overflow: hidden;
}

.fillBoxOrange:before {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background: #f1b027;
  left: 40%;
  transform:translateX(-50%);
  border-radius: 40%;
  animation: fillOrange 3s ease-in-out ;
  z-index: -1;
  animation-fill-mode: forwards;
}
@keyframes fillOrange {
  from {
    top: 350px;
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    top: 150px;
    transform: translateX(-50%) rotate(360deg);
  }
}

.fillBoxRed {
  width: 300px;
  height: 350px;
  position: relative;
  overflow: hidden;
}

.fillBoxRed:before {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background: #b4272a;
  left: 40%;
  transform:translateX(-50%);
  border-radius: 40%;
  animation: fillRed 3s ease-in-out ;
  z-index: -1;
  animation-fill-mode: forwards;
}
@keyframes fillRed { 
  from {
    top: 350px;
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    top: 220px;
    transform: translateX(-50%) rotate(360deg);
  }
}

.elements {
  height: 35px;
}

.elem {
  padding-right: 15px;
  padding-top: 5px;
  float: left;
  cursor: pointer;
}

.switchElem {
  text-align: center; 
  padding-bottom: 3px;
  margin-top: 10px;
}

.elem1 {
  height: 35px;
  width: 49px;
  float: left;
  
  background-color: #ffb71c;
}

.image {
  width: 95%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: orange;
}

.slider:hover {
  background-color: orange;
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}


/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


svg:hover {
  color: orange;
  -webkit-transition: .4s;
  transition: .4s;
}


span {
  font-size: 10px;
  display: block;
}

.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
  cursor: pointer;
}





















